@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.main {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.main-inner-div {
  width: 50%;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  border: 2px solid #cbd18f;
  border-radius: 50px;
  box-shadow: 10px 10px 35px;
  background: linear-gradient(to right, #e3b448, #cbd18f);
}

.main-inner-div-item button {
  position: absolute;
  top: 5%;
  right: 50px;
  width: 50px;
  border-radius: 100px;
}

.main-inner-div-item img {
  position: absolute;
  right: 10%;
  top: 30%;
  /* border-radius: 70px; */
}

.main-inner-div-item-text {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: "Cairo", sans-serif;
  color: #3a6b35;
}
